*{
  margin: 0;
  padding: 0;
}
.container{
  width: 1140px;
  margin: 0 auto;
}
#section{
  background: url("../img/Rectangle 9.png") no-repeat center/cover;
   .section{
     height: 902px;
     display: flex;
     justify-content: space-around;
     flex-direction: column;
    &__icon{
      width: 250px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__text1{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        color: #FFFFFF;
        &__textS{
          color: #0000BB;
        }
      }
    }
     &__btn{
       display: flex;
       align-items: center;
       justify-content: space-around;
       &__text2{
         height: 235px;
         display: flex;
         justify-content: space-between;
         flex-direction: column;
         &__textM{
           width: 522px;
           font-family: 'Montserrat', sans-serif;
           font-style: normal;
           font-weight: 600;
           font-size: 50px;
           color: #FFFFFF;
         }
       }
         &__number{
           font-family: 'Montserrat', sans-serif;
           font-style: normal;
           font-weight: 600;
           font-size: 18px;
           text-decoration: none;
           color: #16AEC0;
           width: 233px;
           height: 63px;
           display: flex;
           align-items: center;
           justify-content: center;
           background: #F0F0F0;
           box-shadow: -0.63587px 6.3587px 6.3587px rgba(87, 101, 228, 0.25), inset -1.27174px -1.27174px 2.54348px rgba(0, 0, 0, 0.2), inset 1.90761px 2.54348px 6.3587px #FFFFFF;
           border-radius: 9.53804px;
         }
       &__icon2{
         &__tNumber{
           display: none;
         }
       }
     }
     &__block{
       display: flex;
       align-items: center;
       justify-content: space-between;
       &__text3{
         display: flex;
         align-items: center;
         justify-content: center;
         width: 200px;
         height: 144px;
         border-radius: 45px;
         background: #FFFFFF;
         box-shadow: -5.42092px 5.42092px 9.03487px rgba(0, 0, 0, 0.17);
         &__textH2{
           height: 100px;
           display: flex;
           align-items: center;
           justify-content: space-between;
           flex-direction: column;
           &__text1H2N{
             font-family: 'Montserrat', sans-serif;
             font-style: normal;
             font-weight: 600;
             font-size: 12.6488px;
             color: #67CDD9;
           }
           &__textD{
             display: flex;
             align-items: center;
             justify-content: center;
             flex-direction: column;
             &__text1H2{
               font-family: 'Montserrat', sans-serif;
               font-style: normal;
               font-weight: 600;
               font-size: 12.6488px;
               color: #67CDD9;
             }
           }
         }
       }
     }
  }
}
#services{
  .services{
    &__textSer{
      &__textSh1{
        margin: 100px 0 31px 0;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        color: #67CDD9;
      }
    }
    &__SBlock{
      height: 1150px;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      &__SBlock1{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        &__backIcon{
          position: absolute;
        }
        &__block1B1{
          z-index: 1;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          flex-direction: column;
          width: 509px;
          height: 340px;
          background: #FAFAFA;
          box-shadow: 0 4px 19px -3px rgba(0, 0, 0, 0.25);
          border-radius: 54px;
          &__blockJ{
            height: 270px;
            display: flex;
            justify-content: space-between;
          flex-direction: column;
            &__BloTextH1{
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 700;
              font-size: 30px;
              color: #67CDD9;
            }
            &__BloTextH3{
              width: 426px;
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              color: #5A5A5A;
            }
            &__BloText1H1{
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 700;
              font-size: 30px;
              color: #67CDD9;
            }
          }
          &__blockU{
            margin: 0 0 76px 0;
            height: 190px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
          }
          &__blockY{
            margin: 0 0 150px 0;
            height: 115px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
          }
        }
      }
    }
    &__H1{
      display: none;
    }
    &__TBlock{
      display: none;
    }
  }
}
#contacts{
  background: #F3FEFF;
  height: 830px;
  .contacts{
    margin: 100px 0 0 0;
    &__contactT{
      display: flex;
      align-items: end;
      height: 120px;
      &__textT{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        color: #00A1B4;
      }
    }
    &__contactMap{
      display: flex;
      align-items: center;
      justify-content: center;
      &__contactTel{
        display: none;
      }
      &__contactTelNum{
        display: none;
      }
      &__contactN{
        z-index: 1;
        margin: 0 0 0 0;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 424px;
        height: 570px;
        background: #E9FDFF;
        box-shadow: 0 4px 19px -3px rgba(0, 0, 0, 0.25);
        border-radius: 54px;
        &__contactBlock{
          width: 296px;
          display: flex;
          align-items: center;
          justify-content: center;
          &__number1{
            margin: 0 -24px 0 12px;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            text-decoration: none;
            color: #00A1B4;
          }
          &__contWhat{
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            color: #00A1B4;
          }
        }
        &__contactBlock1{
          width: 483px;
          display: flex;
          align-items: center;
          justify-content: center;
          &__contGps{
            width: 332px;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            color: #00A1B4;
          }
          &__iconCon{
            margin: 0 15px 0 0;
          }
        }
        &__numberBlock{
          display: flex;
          align-items: center;
          justify-content: center;
          &__contactNumber{
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            text-decoration: none;
            color: #16AEC0;
            width: 221px;
            height: 70px;
            background: #F0F0F0;
            box-shadow: -1px 10px 10px rgba(87, 101, 228, 0.25), inset -2px -2px 4px rgba(0, 0, 0, 0.2), inset 3px 4px 10px #FFFFFF;
            border-radius: 15px;
          }
        }
      }
      &__contactMapBlock{
        width: 784px;
        height: 640px;
      }
    }
  }
}
#footer{
  background: #00A1B4;
  .footer{
    padding: 35px 0 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__iconF{
      width: 240px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__fooText{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        color: #FFFFFF;
        &__fooBText{
          color: #0000BB;
        }
      }
    }
    &__textH{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      &__textH1{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        color: #FFFFFF;
      }
    }
    &__numberF{
      &__numberTel{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        text-decoration: none;
        color: #FFFFFF;
      }
    }
  }
}



.acor-container {
  display: none;
  margin: 20px 0;
}
.acor-container .acor-body {
  width: calc(100% - 40px);
  margin: 0 auto;
  height: 0;
  line-height: 18px;
  padding: 0 20px;
  transition: color 0.5s, padding 0.5s;
  overflow: hidden;
  font-family: Verdana, sans-serif;
  font-size: 16px;
}
.acor-container .acor-body p {
  margin: 0 0 10px;
  width: 635px;
}
.acor-container label {
  cursor: pointer;
  display: block;
  padding: 15px 20px;
  width: 667px;
  color: #67bbd9;
  font-weight: 700;
  z-index: 100;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin: 0 0 5px;
  transition: color .35s;
}
.acor-container label:hover {
  color: #67bbd9;
}
.acor-container input{
  display: none;
}
.acor-container label:before {
  content: url("../img/Group 42.png");
  float: right;
}
.acor-container input:checked + label {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #67CDD9;
}
.acor-container input:checked + label:before {
  transition: transform .35s;
  transform: rotate(180deg);
}
.acor-container input:checked + label + .acor-body {
  height: auto;
  margin-top: -5px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #5A5A5A;
  padding: 20px 20px 10px;
}





@media (max-width: 1024px) {
  .container{
    width: 1000px;
  }
  #services{
    .services{
      &__SBlock{
        &__SBlock1{
          &__backIcon {
            width: 990px;

          }
          &__block1B1{
            width: 439px;
            height: 317px;
          }
        }
      }
    }
  }
  #section{
    .section{
      height: 1050px;
      &__btn{
        flex-direction: column;
        &__icon2{

        }
        &__text2{
          align-items: center;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .container{
    width: 940px;
  }
}
@media (max-width: 768px) {
  .acor-container{
    display: block;
  }
  .container{
    width: 740px;
  }
  #section{
    background: url("../img/telrect.png") no-repeat center/cover;
    height: 1100px;
    .section{
      &__block{
        display: none;
      }
      &__icon{
        width: 712px;
        justify-content: center;
        flex-direction: column;
      }
      &__btn{
        &__icon2{
          height: 720px;
          display: flex;
          align-items: center;
          justify-content: end;
          flex-direction: column;
          &__tNumber{
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            text-decoration: none;
            color: #16AEC0;
            width: 232px;
            height: 63px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #F0F0F0;
            box-shadow: -0.63587px 6.3587px 6.3587px rgba(87, 101, 228, 0.25), inset -1.27174px -1.27174px 2.54348px rgba(0, 0, 0, 0.2), inset 1.90761px 2.54348px 6.3587px #FFFFFF;
            border-radius: 9px;
          }
        }
        &__number{
          display: none;
        }
        &__text2{
          height: 126px;
        }
      }
    }
  }
  #services{
    .services{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      &__SBlock{
        display: none;
      }
      &__textSer{
        &__textSh1{
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &__H1{
        padding: 55px 0 0 0;
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 22px;
        color: #67CDD9;
      }
      &__TBlock{
        padding: 50px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        height: 238px;
        &__TBlockW{
          width: 466px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          &__blockT1{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            &__tBlockH1{
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 15px;
              color: #67CDD9;
            }
            &__block2{
              display: flex;
              align-items: center;
              justify-content: space-between;
              flex-direction: column;
              &__h1block2{
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                color: #67CDD9;
              }
            }
          }
          &__blockT2{
            margin: 0 11px 0 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
          }
        }
      }
    }
  }
  #contacts{
    height: 925px;
    .contacts{
      &__contactMap{
        justify-content: space-between;
        height: 765px;
        flex-direction: column;
        &__contactN{
          display: none;
        }
        &__contactMapBlock{
          width: 636px;
          height: 321px;
        }
        &__contactTel{
          height: 300px;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          &__href{
            width: 549px;
            display: flex;
            align-items: center;
            justify-content: start;
            &__numberH{
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 30px;
              text-decoration: none;
              color: #00A1B4;
            }
          }
        }
        &__contactTelNum{
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          text-decoration: none;
          color: #16AEC0;
          width: 233px;
          height: 63px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #F0F0F0;
          box-shadow: -0.63587px 6.3587px 6.3587px rgba(87, 101, 228, 0.25), inset -1.27174px -1.27174px 2.54348px rgba(0, 0, 0, 0.2), inset 1.90761px 2.54348px 6.3587px #FFFFFF;
          border-radius: 9.53804px;
        }
      }
      &__contactT{
        display: flex;
        align-items: center;
        justify-content: center;
        &__textT{
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  #footer{
    .footer{
      flex-direction: column;
      height: 300px;
    }
  }
}
@media (max-width: 576px) {
  .container{
    width: 540px;
  }
  #section{
    .section{
      &__btn{
        &__icon2{
          &__iconH{
            width: 527px;
            height: 465px;
          }
        }
      }
      &__icon{
        width: 555px;
      }
    }
  }
  #services{
    .acor-container{
      width: 450px;
    }
    .acor-container label{
      width: 446px;
    }
  }
  #contacts{
    .contacts{
      &__contactMap{
        &__contactMapBlock{
          width: 379px;
        }
      }
    }
  }
}
@media (max-width: 450px) {
  .container{
    width: 410px;
  }
  #section{
    .section{
      &__btn{
        &__icon2{
          &__iconH{
            width: 418px;
            height: 487px;
          }
        }
        &__text2{
          &__textM{
            width: 314px;
          }
        }
      }
      &__icon{
        width: 410px;
      }
    }
  }
  #services{
    .acor-container{
    }
    .acor-container label{
      width: 406px;
    }
    .acor-container .acor-body p{
      width: 345px;
    }
    .services{
      &__TBlock{
        &__TBlockW{
          width: 380px;
        }
      }
    }
  }
  #contacts{
    .contacts{
      &__contactMap{
        &__contactTel{
          &__href{
            width: 291px;
          }
        }
      }
    }
  }
}
@media (max-width: 420px) {
  .container{
    width: 400px;
  }
  #services{
    .acor-container{
      width: 370px;
    }
    .acor-container label{
      width: 322px;
    }
  }
}
@media (max-width: 380px) {
  .container{
    width: 340px;
  }
  #section{
    .section{
      &__icon{
        width: 340px;
      }
      &__btn{
        &__icon2{
          &__iconH{
            width: 361px;
          }
        }
      }
    }
  }
  #contacts{
    .contacts{
      &__contactMap{
        &__contactMapBlock{
          width: 320px;
        }
      }
    }
  }
}
@media (max-width: 360px) {
  .container{
    width: 320px;
  }
  #services{
    .services{
      &__TBlock{
        &__TBlockW{
          width: 320px;
        }
      }
    }
    .acor-container{
      width: 354px;
    }
    .acor-container label{
      width: 300px;
    }
  }
  #section{
    .section{
      &__btn{
        &__icon2{
          &__iconH{
            width: 360px;
          }
        }
      }
    }
  }
}
@media (max-width: 320px) {
  .container{
    width: 290px;
  }
  #services{
    .services{
    }
    .services .acor-container label{
      width: 280px;
    }
    .acor-container{
      width: 320px;
    }
  }
  #section{
    .section{
      &__btn{
        &__icon2{
          &__iconH{
            width: 288px;
          }
        }
        &__text2{
          &__textM{
            font-size: 36px;
            width: 198px;
          }
        }
      }
      &__icon{
        width: 280px;
      }
    }
  }
  #contacts{
    .contacts{
      &__contactMap{
        &__contactMapBlock{
          width: 290px;
        }
      }
    }
  }
}